@model IEnumerable<DemoTaskProject.Models.TaskItem>
@using System.Linq

@{
    ViewData["Title"] = "Task Details";
}

<h1>All Tasks</h1>

<h3><a asp-controller="tasks" asp-action="Create">Create new task </a></h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr><td>There are no taks</td></tr>



        }
        else
        {

            foreach (var item in Model)
            {
               
                <tr>
                    <td>
                        @Html.ActionLink(item.TaskName,"Index", "SubTaskItems", new { id = item.TaskId})
                      
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinishDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>

                        details
                        <!-- <a asp-action="Edit" asp-route-id="@item.TaskId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TaskId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TaskId">Delete</a> -->
                    </td>
                </tr>
            }
        }


    </tbody>
</table>
